<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stu.dao.ElectivesMapper" >
  <resultMap id="BaseResultMap" type="com.stu.entity.Electives" >
    <id column="Ele_id" property="eleId" jdbcType="INTEGER" />
    <result column="NS_id" property="nsId" jdbcType="INTEGER" />
    <result column="S_id" property="sId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Ele_id, NS_id, S_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from electives
    where Ele_id = #{eleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from electives
    where Ele_id = #{eleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.stu.entity.Electives" >
    insert into electives (Ele_id, NS_id, S_id
      )
    values (#{eleId,jdbcType=INTEGER}, #{nsId,jdbcType=INTEGER}, #{sId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.stu.entity.Electives" >
    insert into electives
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eleId != null" >
        Ele_id,
      </if>
      <if test="nsId != null" >
        NS_id,
      </if>
      <if test="sId != null" >
        S_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eleId != null" >
        #{eleId,jdbcType=INTEGER},
      </if>
      <if test="nsId != null" >
        #{nsId,jdbcType=INTEGER},
      </if>
      <if test="sId != null" >
        #{sId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stu.entity.Electives" >
    update electives
    <set >
      <if test="nsId != null" >
        NS_id = #{nsId,jdbcType=INTEGER},
      </if>
      <if test="sId != null" >
        S_id = #{sId,jdbcType=INTEGER},
      </if>
    </set>
    where Ele_id = #{eleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stu.entity.Electives" >
    update electives
    set NS_id = #{nsId,jdbcType=INTEGER},
      S_id = #{sId,jdbcType=INTEGER}
    where Ele_id = #{eleId,jdbcType=INTEGER}
  </update>
</mapper>